name: Download OVMF
on:
  schedule:
   - cron: '0 0 * * 0'
  push:
  workflow_dispatch:
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt install curl -y

      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Git config
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Download
        run: |
          echo "$(curl --silent "https://api.github.com/repos/osdev0/edk2-ovmf-nightly/releases/latest" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')" >> LATEST_RELEASE
          curl -o edk2-ovmf.tar.gz -L https://github.com/osdev0/edk2-ovmf-nightly/releases/download/$(cat LATEST_RELEASE)/edk2-ovmf.tar.gz
          tar xzf edk2-ovmf.tar.gz
          mv edk2-ovmf/ovmf-code-x86_64.fd OVMF_X64.fd
          mv edk2-ovmf/ovmf-code-aarch64.fd OVMF_AA64.fd
          rm -rf LATEST_RELEASE edk2-ovmf edk2-ovmf.tar.gz

      - name: Push
        run: |
          git config user.name 'ilobilo-workflow'
          git config user.email 'ilobilo-workflow@ilobilo-workflow.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/ilobilo/ovmf-binaries.git
          git fetch --all
          # git reset --mixed HEAD~1
          git add .
          git commit -m "Upload binaries [ci skip]"
          git push --force origin master
